

.product-card {
  border: 8px solid #87c3ff31;
  border-radius: 12px;
  overflow: hidden;
  
}

.product-card .card-body {
  padding: 0.8rem ;
  height: 175px;
}
.card-body{
  background: rgba(156, 156, 156, 0.048);
  border-radius: 10px;
}

.product-card img.card-img-top {
  height: 200px; 
  padding: 1rem;
  /* ปรับความสูงของรูปภาพสินค้า */
  object-fit: cover; /* ให้ภาพเต็มกรอบ */
   border-radius: 10px;
}

.product-card h6,
.product-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* ปรับความกว้างสูงสุดที่แสดง */
}

  .card img:hover{
    transition: 00.3s ease-in-out;
    transform: scale(1.1);
  }
 
  /* ตัวอย่างในไฟล์ CSS ของ Component */
body, h1, h5, p, button, .container, .row, .card {
  font-family: 'Prompt', sans-serif;
}

.container {
  width: 1000%;
}
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}

.custom-modal-width {
  max-width: 1000px; /* คุณสามารถปรับค่า max-width ตามความต้องการ */
  max-height: 1800px;

}

.carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0.5); /* ปรับเป็นสีเทา กลางๆ */
}

.carousel-control-prev-icon {
  background-color: rgba(128, 128, 128, 0.5); /* สีเทา กลางๆ */
  border-radius: 50%;
  height: 170px;
  width: 35px;
}

.carousel-control-next-icon {
  background-color: rgba(128, 128, 128, 0.5); /* สีเทา กลางๆ */
  border-radius: 50%;
  height: 170px;
  width: 35px;
}



